<!DOCTYPE html>
<html>
  <head>
    <title>Liquid Express</title>
  </head>
  <body>
    <h1>Hello, My name is {{ name }}!</h1>
    <p>This website is created with {{ TemplateName }} 😄</p>
    <ul>
      <li><a href="./products">products</a></li>
      <li><a href="./orders">orders</a></li>
      <li><a href="./customer">customer</a></li>
    </ul>
  </body>
</html>
